@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: PlayW;
    src: url("Playwrite_DE_Grund/static/PlaywriteDEGrund-Regular.ttf") format(truetype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Janda;
    src: url("janda_manatee/JandaManateeSolid.ttf") format(truetype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: FragCore;
    src: url("fragment_core/Fragmentcore.otf") format(truetype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Heavitas;
    src: url("heavitas/Heavitas.ttf") format(truetype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Sono;
    src: url("sono/desktop/Sono-Bold.ttf") format(truetype);
    font-weight: normal;
    font-style: normal;
}

body {
    text-overflow: clip;
    background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0.575), rgb(233, 233, 233));
    
}

header {
    background-image: linear-gradient(-45deg, rgb(0, 0, 0), rgb(46, 46, 46));
    box-shadow: 3px 2px 20px black;
}

#Titulo {
    color: #ffffff;
    text-align: center;
    font: normal normal 6vw 'Heavitas', Arial, sans-serif;
    padding: 80px 10px 10px 10px;
    letter-spacing: 3px;
}

#paragrafoTitulo {
    color: #000000;
    text-shadow: 1px 0px 10px rgb(255, 255, 255);
    text-align: center;
    font: normal normal 1.5vw Heavitas;
    padding: 15px 0px 80px 0px;
    #linkMilton{
        color: #252525;
        font-weight: bold;
        text-decoration: none;
    }

 #linkMilton:hover{
        text-decoration: underline;
        color: #e0e0e0;
    }
}

div {
    margin: 35px;
}

.paragrafoPoesia0 {
    font: italic normal 2.2vw "PlayW", Arial, sans-serif;
    margin: auto;
    padding: 75px 0px 75px 0px;
    text-align: center;
    line-height: 70px;
    letter-spacing: 2px;
    text-shadow: 3px 1px 25px rgb(0, 0, 0);
}

#paragrafoPoesia1 {
    font: italic normal 2.2vw "PlayW", Arial, sans-serif;
    margin: auto;
    padding: 35px 0px 35px 0px;
    text-align: center;
    line-height: 70px;
    letter-spacing: 2px;
    color: #ffffff;
    text-shadow: 1px 1px 20px whitesmoke;
    background-color: #0000009a;
    border-radius: 25px;
}

.paragrafoPoesia2 {
    font: italic normal 2.2vw "PlayW", Arial, sans-serif;
    margin: auto;
    padding: 0px 0px 75px 0px;
    text-align: center;
    line-height: 70px;
    letter-spacing: 2px;
    text-shadow: 3px 1px 25px rgb(0, 0, 0);
}

#p2 {
    min-width: 320px;
    max-width: 800px;
    margin: auto;
    background: black url("imagem-fundo-03.jpg") center center no-repeat fixed;
    background-size: cover;
    padding: 50px;
    box-shadow: 3px 2px 20px black;
    border-radius: 20px;
}

#p3 {
    min-width: 320px;
    max-width: 800px;
    margin: auto;
    background: black url("imagem-fundo-02.jpg") center center no-repeat fixed;
    background-size: cover;
    padding: 50px;
    box-shadow: 3px 2px 20px black;
    border-radius: 20px;
}